<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form action="/piglatinize" method="POST">
      <label>Enter your phrase:</label>
      <p><input type="text" name="string"></p>
      <p><input type="submit"></p>
    </form>
  </body>
</html>
